*.iml
.idea
idea
.idea/workspace.xml
.gradle
gradle
build/
.navigation
captures/
output.json
.idea/**/gradle.xml
.idea/**/libraries
out
.idea
*.ipr
*.iws
*.iml
.gradle
/build
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/subprojects/docs/src/samples/**/build
/subprojects/internal-android-performance-testing/build-android-libs
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
*/**/.idea